airportsdata==20250811
astor==0.8.1
blake3==1.0.5
compressed-tensors==0.9.4
depyf==0.18.0
dill==0.4.0
diskcache==5.6.3
distro==1.9.0
dnspython==2.7.0
email-validator==2.2.0
fastapi-cli==0.0.8
fastapi-cloud-cli==0.1.5
flash-attn==2.7.3
gguf==0.17.1
googleapis-common-protos==1.70.0
hf-xet==1.1.7
huggingface-hub==0.34.4
interegular==0.3.3
jinja2==3.1.6
jiter==0.10.0
lark==1.2.2
llguidance==0.7.30
llvmlite==0.44.0
lm-format-enforcer==0.10.12
mistral-common==1.8.3
msgspec==0.19.0
numba==0.61.2
numpy==2.2.6
nvidia-cublas-cu12==12.6.4.1
nvidia-cuda-cupti-cu12==12.6.80
nvidia-cuda-nvrtc-cu12==12.6.77
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cudnn-cu12==9.5.1.17
nvidia-cufft-cu12==11.3.0.4
nvidia-cufile-cu12==1.11.1.6
nvidia-curand-cu12==10.3.7.77
nvidia-cusolver-cu12==11.7.1.2
nvidia-cusparse-cu12==12.5.4.2
nvidia-cusparselt-cu12==0.6.3
nvidia-nvjitlink-cu12==12.6.85
nvidia-nvtx-cu12==12.6.77
openai==1.99.9
opencv-python-headless==4.12.0.88
opentelemetry-api==1.36.0
opentelemetry-exporter-otlp==1.36.0
opentelemetry-exporter-otlp-proto-common==1.36.0
opentelemetry-exporter-otlp-proto-grpc==1.36.0
opentelemetry-exporter-otlp-proto-http==1.36.0
opentelemetry-proto==1.36.0
opentelemetry-sdk==1.36.0
opentelemetry-semantic-conventions==0.57b0
opentelemetry-semantic-conventions-ai==0.4.12
outlines==0.1.11
outlines-core==0.1.26
partial-json-parser==0.2.1.1.post6
prometheus-fastapi-instrumentator==7.1.0
protobuf==6.31.1
py-cpuinfo==9.0.0
pycountry==24.6.1
pydantic-extra-types==2.10.5
python-multipart==0.0.20
ray==2.48.0
rich-toolkit==0.15.0
rignore==0.6.4
sentencepiece==0.2.1
sentry-sdk==2.34.1
sympy==1.14.0
tiktoken==0.11.0
tokenizers==0.21.4
torchaudio==2.7.0
transformers==4.53.3
triton==3.3.0
typer==0.16.0
vllm==0.9.0
xformers==0.0.30
xgrammar==0.1.19
